.card {
    padding: 20px 35px 20px 35px;
}

.card .select-wrapper {
    max-width: 400px;
    margin-bottom: 30px;
}

.card .select-wrapper button,
.card .select-wrapper button:hover {
    border: 1px solid #9A9A9A;
    color: #2c2c2c !important;
    background: transparent !important;
    border-color: #9A9A9A !important;
}

.card .select-wrapper button:active,
.card .select-wrapper button:focus {
    border: 1px solid #2CA8FF !important;
    border-color: #2CA8FF !important;
}

.card .group {
    max-width: 700px;
}

.card-title {
    text-align: center;
}

.btn#add-contact {
    width: 100%;
}

.btn#delete-contact {
    float: right;
    background: rgb(236, 129, 129);
}

.btn#btn-cancel,
.btn#btn-save {
    width: 100%;
}